spring:
  datasource:
    url: jdbc:postgresql://ep-mute-forest-a4ydl45k-pooler.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
    username: neondb_owner
    password: npg_4QJPaXTtV1qg
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: America/Argentina/Buenos_Aires
      hibernate.format_sql: true

  flyway:
    enabled: true

server:
  port: 8080

springdoc:
  api-docs.enabled: true
  swagger-ui.enabled: true

app:
  cors:
    allowed-origins: "http://localhost:4200"
